/* CSS Document */
body {font-family:Georgia, "Times New Roman", Times, serif;font-size:medium}
a:link,a:visited{text-decoration:none;color:#0000FF;}
/*容器*/
div#container{width:700px; margin:auto;}
/*头部*/
div#header 
{
 width:700px; 
 padding:30px;
 text-align:center;
 font-weight:900;
 font-size:24px;
 color:blue;
}
/*导航栏*/
div#meau
{
 margin:0 auto;
 width:544px;
}
div#meau ul
{
 list-style-type:none;
 margin:0;
 padding:0;
 text-align:center;
 overflow:hidden;
 font-size:small;
}
div#meau ul li
{
 float:left;
}
div#meau a:link,div#meau a:visited
{
 display:block;
 width:120px;
 font-weight:bold;
 color:#FFFFFF;
 background-color:#bebebe;
 text-align:center;
 padding:8px;
 text-decoration:none;
}
div#meau a:hover,div#meau a:active
{
 background-color:#cc0000;
}

/*内容页*/
div#content
{
 width:544px;
 margin:auto;
}

/*页脚*/
div#footer
{
 width:524px;
 margin:auto;
 padding:10px;
 text-align:center;
}

/*滚动条*/
div#zxdt{width:70px;font-weight:900;text-align:center;}
div#scroll{width:455px;color:blue;}
div#zxdt,div#scroll
 {float:left;
  padding:5px 0 5px 0;
  margin:5px 3px 5px 3px;
  font-size:small;}










